Repository ZZZdreamm/Tradeiti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - when: never

variables:
  FRONTEND_IMAGE_NAME: front
  BACKEND_IMAGE_NAME: back
  SSH_HOST: arcziweb.com
  SSH_PORT: 22
  SSH_USER: pap
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

services:
  - docker:24.0.5-dind


before_script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin

  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "HOST *" > ~/.ssh/config
  - echo "StrictHostKeyChecking no" >> ~/.ssh/config

build_frontend:
  stage: build
  script:
    - cd frontend
    - docker build -t $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - frontend/**/*

build_backend:
  stage: build
  script:
    - cd backend
    - docker build -t $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - backend/**/*

deploy_frontend:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "sed -i 's|$DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:.*|$DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA|' usos/docker-compose.yml"
  rules:
    - changes:
        - frontend/**/*

deploy_backend:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "sed -i 's|$DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:.*|$DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA|' usos/docker-compose.yml"
  rules:
    - changes:
        - backend/**/*

start_all:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "cd usos && docker compose stop && docker compose build && docker compose up -d"

Register pipeline fix
  frontend/src/pages/login/Login.tsx
Due: build_frontend, deploy_frontend

Build fix
  frontend/src/pages/myOffers/AddOffer.tsx
  frontend/src/pages/myOffers/ChooseCourseHour.tsx
  frontend/src/pages/myOffers/ShowOffers.tsx
Due: build_frontend, deploy_frontend

code cleanup and improvements
  backend/src/main/java/com/example/usos_oauth/controller/CourseEditionsController.java
  backend/src/main/java/com/example/usos_oauth/controller/LoginUsosController.java
  backend/src/main/java/com/example/usos_oauth/security/config/ApplicationConfig.java
  backend/src/main/java/com/example/usos_oauth/security/config/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/usos_oauth/security/config/SecurityConfiguration.java
  backend/src/main/java/com/example/usos_oauth/security/service/UserService.java
  backend/src/main/java/com/example/usos_oauth/usos/connect/UsosServiceProvider.java
Due: build_backend, deploy_backend

directory restructuring
  backend/src/main/java/com/example/usos_oauth/config/OAuthConfig.java
  backend/src/main/java/com/example/usos_oauth/controller/CourseEditionsController.java
  backend/src/main/java/com/example/usos_oauth/controller/LoginUsosController.java
  backend/src/main/java/com/example/usos_oauth/usos/config/OAuthConfig.java
  backend/src/main/java/com/example/usos_oauth/usos/connect/UsosAdapter.java
  backend/src/main/java/com/example/usos_oauth/usos/connect/UsosConnectionFactory.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseEditionsController.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/LoginUsosController.java
Due: build_backend, deploy_backend

fixed security
  backend/src/main/java/com/example/usos_oauth/security/config/SecurityConfiguration.java
Due: build_backend, deploy_backend

Add throw error when status > 400
  frontend/src/apiFunctions/checkIfConnectedToUsos.ts
Due: build_frontend, deploy_frontend

Add api get function
  frontend/src/apiFunctions/getAllCourses.ts
Due: build_frontend, deploy_frontend

Change help route name to home
  frontend/src/components/navBar/NavBar.tsx
Due: build_frontend, deploy_frontend

Add Logout button
  frontend/src/components/topBar/TopBar.scss
  frontend/src/components/topBar/TopBar.tsx
Due: build_frontend, deploy_frontend

Remove help route
  frontend/src/config/routes.tsx
Due: build_frontend, deploy_frontend

Move HelpPage content to Home
  frontend/src/pages/helpPage/HelpPage.tsx
  frontend/src/pages/home/Home.scss
  frontend/src/pages/home/Home.tsx
Due: build_frontend, deploy_frontend

Add querying courses data from backend
  frontend/src/pages/courses/Courses.tsx
Due: build_frontend, deploy_frontend

Fast fix
  frontend/src/apiFunctions/checkIfConnectedToUsos.ts
Due: build_frontend, deploy_frontend

Fast fix2
  frontend/src/apiFunctions/checkIfConnectedToUsos.ts
Due: build_frontend, deploy_frontend

Fix fetching courses
  frontend/src/apiFunctions/getAllCourses.ts
  frontend/src/hooks/useCurrentUser.tsx
  frontend/src/pages/courses/Courses.tsx
Due: build_frontend, deploy_frontend

Fix checking usos connection
  frontend/src/hooks/useCurrentUser.tsx
Due: build_frontend, deploy_frontend

Hide password
  frontend/src/components/authForm/AuthForm.tsx
Due: build_frontend, deploy_frontend

added new, not working endpoint, created UsosService
  backend/src/main/java/com/example/usos_oauth/usos/api/Usos.java
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/ClassType.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseName.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseResponse.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/Lecturer.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/Participant.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/UserGroup.java
  backend/src/main/java/com/example/usos_oauth/usos/api/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Activity.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/ClassType.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/CourseResponse.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/GroupsResponse.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/LangDict.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Lecturer.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Participant.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/UserGroup.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/UsosUser.java
  backend/src/main/java/com/example/usos_oauth/usos/connect/UsosServiceProvider.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseAllGroupsController.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/LoginUsosController.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/UserCourse.java
Due: build_backend, deploy_backend

Changed UsosTemplate
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
Due: build_backend, deploy_backend

backend/new endpoint - getting all groups of given course - without wykłady.
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Activity.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/GroupsResponse.java
Due: build_backend, deploy_backend

Handle redirect after login
  frontend/src/components/coursesList/CoursesList.tsx
  frontend/src/hooks/useCurrentUser.tsx
  frontend/src/pages/login/Login.tsx
  frontend/src/providers/AuthProvider.tsx
Due: build_frontend, deploy_frontend

Add redirecting to main page if connected already
  frontend/src/common/withPrivateRoute/WithPrivateRoute.tsx
  frontend/src/pages/login/Login.tsx
Due: build_frontend, deploy_frontend

backend/new endpoint - getting all groups of given course - without wykłady.
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Activity.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseAllGroupsController.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
Due: build_backend, deploy_backend

Fix fetching courses
  frontend/src/hooks/useCurrentUser.tsx
Due: build_frontend, deploy_frontend

frontend/hourChoosingStyles
  frontend/src/components/courseDate/CourseDate.scss
  frontend/src/components/courseDate/CourseDate.tsx
  frontend/src/components/hours/CourseHours.scss
  frontend/src/components/hours/CourseHours.tsx
  frontend/src/pages/myOffers/ChooseCourseHour.scss
Due: build_frontend, deploy_frontend

Upload New File
  PAP2023Z-Z08_etap_2.pdf
Due: none

Added custom exception for usosService
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
  backend/src/main/java/com/example/usos_oauth/usos/service/exception/UsosAccountNotConnectedException.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/UserCourse.java
Due: build_backend, deploy_backend

Pipeline fix
  frontend/src/components/courseDate/CourseDate.tsx
  frontend/src/hooks/useCurrentUser.tsx
Due: build_frontend, deploy_frontend

Added basic dto mapper
  backend/src/main/java/com/example/usos_oauth/usos/api/model/ClassType.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/UserGroup.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/CourseDTO.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/GroupDTO.java
Due: build_backend, deploy_backend

Modified mapper, changed course edition conrtroller
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseEditionsController.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/LoginUsosController.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
Due: build_backend, deploy_backend

frontEnd/offerAddingStyles
  frontend/src/components/courseDate/CourseDate.scss
  frontend/src/components/courseDate/CourseDate.tsx
  frontend/src/pages/myOffers/MyOffers.scss
  frontend/src/pages/myOffers/MyOffers.tsx
Due: build_frontend, deploy_frontend

Pipeline fix
  frontend/src/components/courseDate/CourseDate.tsx
Due: build_frontend, deploy_frontend
