Repository ZZZdreamm/Tradeiti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - when: never

variables:
  FRONTEND_IMAGE_NAME: front
  BACKEND_IMAGE_NAME: back
  SSH_HOST: arcziweb.com
  SSH_PORT: 22
  SSH_USER: pap
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

services:
  - docker:24.0.5-dind


before_script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin

  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "HOST *" > ~/.ssh/config
  - echo "StrictHostKeyChecking no" >> ~/.ssh/config

build_frontend:
  stage: build
  script:
    - cd frontend
    - docker build -t $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - frontend/**/*

build_backend:
  stage: build
  script:
    - cd backend
    - docker build -t $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - backend/**/*

deploy_frontend:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "sed -i 's|$DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:.*|$DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA|' usos/docker-compose.yml"
  rules:
    - changes:
        - frontend/**/*

deploy_backend:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "sed -i 's|$DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:.*|$DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA|' usos/docker-compose.yml"
  rules:
    - changes:
        - backend/**/*

start_all:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "cd usos && docker compose stop && docker compose build && docker compose up -d"

Pipeline fix
  frontend/src/components/courseDate/CourseDate.tsx
Due: build_frontend, deploy_frontend

Forgotten script
  frontend/src/components/courseDate/CourseDate.tsx
Due: build_frontend, deploy_frontend

refactored CoursesController
  backend/src/main/java/com/example/usos_oauth/usos/controller/CoursesController.java
Due: build_backend, deploy_backend

backend/new endpoint - getting all groups of given course - without wykłady.
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Activity.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseAllGroupsController.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
Due: build_backend, deploy_backend

backend/new endpoint - getting all groups of given course - without wykłady.
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Activity.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/GroupsResponse.java
Due: build_backend, deploy_backend

Changed UsosTemplate
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
Due: build_backend, deploy_backend

Added custom exception for usosService
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
  backend/src/main/java/com/example/usos_oauth/usos/service/exception/UsosAccountNotConnectedException.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/UserCourse.java
Due: build_backend, deploy_backend

Added basic dto mapper
  backend/src/main/java/com/example/usos_oauth/usos/api/model/ClassType.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/UserGroup.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/CourseDTO.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/GroupDTO.java
Due: build_backend, deploy_backend

Modified mapper, changed course edition conrtroller
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseEditionsController.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/LoginUsosController.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
Due: build_backend, deploy_backend

added new, not working endpoint, created UsosService
  backend/src/main/java/com/example/usos_oauth/usos/api/Usos.java
  backend/src/main/java/com/example/usos_oauth/usos/api/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/UsosTemplate.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/ClassType.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseName.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseResponse.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/Lecturer.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/Participant.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/UserGroup.java
  backend/src/main/java/com/example/usos_oauth/usos/api/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Activity.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/ClassType.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/CourseResponse.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/GroupsResponse.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/LangDict.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Lecturer.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/Participant.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/UserGroup.java
  backend/src/main/java/com/example/usos_oauth/usos/api/model/UsosUser.java
  backend/src/main/java/com/example/usos_oauth/usos/connect/UsosServiceProvider.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CourseAllGroupsController.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/LoginUsosController.java
  backend/src/main/java/com/example/usos_oauth/usos/service/UsosService.java
  backend/src/main/java/com/example/usos_oauth/usos/service/model/UserCourse.java
Due: build_backend, deploy_backend

Change getAllCourses endpoint and add CourseDto and GroupDto
  frontend/src/apiFunctions/getAllCourses.ts
  frontend/src/components/course/Course.tsx
  frontend/src/components/coursesList/CoursesList.tsx
  frontend/src/models/Course.ts
  frontend/src/models/GroupDto.ts
  frontend/src/pages/myOffers/ChooseCourse.tsx
Due: build_frontend, deploy_frontend

Handle wrong JWTtoken error when connecting to usos
  frontend/src/apiFunctions/connectUsos.ts
  frontend/src/pages/usosConnect/UsosConnect.tsx
Due: build_frontend, deploy_frontend

Change redirecting to using react navigate
  frontend/src/pages/login/Login.tsx
Due: build_frontend, deploy_frontend

Add instant navigation to login when user failed to login
  frontend/src/apiFunctions/checkIfConnectedToUsos.ts
  frontend/src/hooks/useCurrentUser.tsx
Due: build_frontend, deploy_frontend

Change frontend local url
  docker-compose.yml
Due: none

Remove mocked courses
  frontend/src/mocks/MockedCourses.ts
Due: build_frontend, deploy_frontend

Add variables for choose spans to not repeat same code
  frontend/src/components/courseDate/CourseDate.tsx
Due: build_frontend, deploy_frontend

Add OfferCreationDto
  frontend/src/models/OfferCreationDto.ts
Due: build_frontend, deploy_frontend

Reload page after logging
  frontend/src/hooks/useCurrentUser.tsx
  frontend/src/pages/login/Login.tsx
Due: build_frontend, deploy_frontend

Fetch user offers
  frontend/src/apiFunctions/getUserOffers.ts
  frontend/src/pages/myOffers/ShowOffers.tsx
Due: build_frontend, deploy_frontend

Use axios in checkIfConnectedToUsos
  frontend/src/apiFunctions/checkIfConnectedToUsos.ts
Due: build_frontend, deploy_frontend

Add requests related to offers
  frontend/src/apiFunctions/addOffer.ts
  frontend/src/apiFunctions/connectUsos.ts
  frontend/src/apiFunctions/discardOffer.ts
  frontend/src/apiFunctions/finalizeOffer.ts
  frontend/src/apiFunctions/getAllCourses.ts
  frontend/src/apiFunctions/getCurrentUser.ts
  frontend/src/apiFunctions/getOffers.ts
  frontend/src/apiFunctions/rejectOffer.ts
  frontend/src/apiFunctions/removeOffer.ts
  frontend/src/apiFunctions/searchOffers.ts
Due: build_frontend, deploy_frontend

added basic openapi docs
  backend/pom.xml
  backend/src/main/java/com/example/usos_oauth/security/config/SecurityConfiguration.java
  backend/src/main/resources/application.yml
Due: build_backend, deploy_backend

Remove p containg ul
  frontend/src/pages/home/Home.scss
  frontend/src/pages/home/Home.tsx
Due: build_frontend, deploy_frontend

Change acceptOffer
  frontend/src/apiFunctions/acceptOffer.ts
  frontend/src/apiFunctions/discardOffer.ts
Due: build_frontend, deploy_frontend

Change Offer and add OfferStatus
  frontend/src/mocks/MockedCourseDates.ts
  frontend/src/mocks/MockedMyOffers.ts
  frontend/src/mocks/MockedOffers.ts
  frontend/src/models/Offer.ts
  frontend/src/models/OfferStatus.ts
Due: build_frontend, deploy_frontend

Add sessionStorage functions
  frontend/src/common/sessionStorage.ts
Due: build_frontend, deploy_frontend

Change CourseDate styling
  frontend/src/components/courseDate/CourseDate.scss
  frontend/src/index.scss
Due: build_frontend, deploy_frontend

Add CourseDateData interface
  frontend/src/models/CourseDate.ts
  frontend/src/models/Offer.ts
Due: build_frontend, deploy_frontend

Add FinalizeOffer stage
  frontend/src/pages/myOffers/FinalizeOffer.tsx
Due: build_frontend, deploy_frontend

Handle saving form data after refreshing page
  frontend/src/components/courseDate/CourseDate.tsx
  frontend/src/components/hours/CourseHours.tsx
  frontend/src/pages/myOffers/AddOffer.tsx
  frontend/src/pages/myOffers/ChooseCourse.tsx
  frontend/src/pages/myOffers/ChooseCourseHour.tsx
Due: build_frontend, deploy_frontend

Handle getting creation offer values
  frontend/src/pages/myOffers/DefaultOfferFormValues.ts
Due: build_frontend, deploy_frontend

Adjust MyOffer component to new Offer model
  frontend/src/components/offer/MyOffer.tsx
Due: build_frontend, deploy_frontend
