Repository ZZZdreamm/Tradeiti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_frontend, deploy_backend

.gitlab-ci.yml:

stages:
  - build
  - deploy

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: always
    - when: never

variables:
  FRONTEND_IMAGE_NAME: front
  BACKEND_IMAGE_NAME: back
  SSH_HOST: arcziweb.com
  SSH_PORT: 22
  SSH_USER: pap
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

services:
  - docker:24.0.5-dind


before_script:
  - echo "$DOCKER_HUB_PASSWORD" | docker login -u "$DOCKER_HUB_USERNAME" --password-stdin

  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - chmod 400 "$SSH_PRIVATE_KEY"
  - ssh-add "$SSH_PRIVATE_KEY"
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "HOST *" > ~/.ssh/config
  - echo "StrictHostKeyChecking no" >> ~/.ssh/config

build_frontend:
  stage: build
  script:
    - cd frontend
    - docker build -t $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - frontend/**/*

build_backend:
  stage: build
  script:
    - cd backend
    - docker build -t $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA
  rules:
    - changes:
        - backend/**/*

deploy_frontend:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "sed -i 's|$DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:.*|$DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA|' usos/docker-compose.yml"
  rules:
    - changes:
        - frontend/**/*

deploy_backend:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "sed -i 's|$DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:.*|$DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA|' usos/docker-compose.yml"
  rules:
    - changes:
        - backend/**/*

start_all:
  stage: deploy
  script:
    - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "cd usos && docker compose stop && docker compose build && docker compose up -d"

added option to filter for user groups in OfferController
  backend/src/main/java/com/example/usos_oauth/offers/controller/CommentsController.java
  backend/src/main/java/com/example/usos_oauth/offers/controller/OfferController.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dao/Course.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dao/CourseId.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dao/Offer.java
  backend/src/main/java/com/example/usos_oauth/offers/service/OfferService.java
  backend/src/main/java/com/example/usos_oauth/offers/service/utils/OfferDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/security/auth/controller/AuthenticationController.java
  backend/src/main/java/com/example/usos_oauth/security/auth/controller/UserController.java
  backend/src/main/java/com/example/usos_oauth/security/auth/service/UnknownAvatarException.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/CoursesController.java
  backend/src/main/java/com/example/usos_oauth/usos/controller/UsosConnectController.java
Due: build_backend, deploy_backend

backend: added user service offers
  backend/src/test/java/com/example/usos_oauth/security/service/UserServiceTest.java
Due: build_backend, deploy_backend

backend: added user service tests
  backend/src/test/java/com/example/usos_oauth/security/service/UserServiceTest.java
Due: build_backend, deploy_backend

backend: added documentation for many files
  backend/src/main/java/com/example/usos_oauth/security/auth/controller/AuthenticationController.java
  backend/src/main/java/com/example/usos_oauth/security/auth/controller/UserController.java
  backend/src/main/java/com/example/usos_oauth/security/auth/model/AuthenticationRequest.java
  backend/src/main/java/com/example/usos_oauth/security/auth/model/AuthenticationResponse.java
  backend/src/main/java/com/example/usos_oauth/security/auth/model/AvatarRequest.java
  backend/src/main/java/com/example/usos_oauth/security/auth/model/UserDataResponse.java
  backend/src/main/java/com/example/usos_oauth/security/auth/model/UsernameRequest.java
  backend/src/main/java/com/example/usos_oauth/security/auth/service/AuthenticationService.java
  backend/src/main/java/com/example/usos_oauth/security/model/Avatar.java
  backend/src/main/java/com/example/usos_oauth/security/model/Role.java
  backend/src/main/java/com/example/usos_oauth/security/model/User.java
  backend/src/main/java/com/example/usos_oauth/security/model/UsosAuth.java
  backend/src/main/java/com/example/usos_oauth/security/service/UserService.java
Due: build_backend, deploy_backend

backend/ removed keys from code and moved them into the env
  backend/src/main/java/com/example/usos_oauth/security/auth/controller/UserController.java
  backend/src/main/java/com/example/usos_oauth/security/service/JwtService.java
  backend/src/main/resources/application.yml
  docker-compose.yml
Due: build_backend, deploy_backend

Reverse sides for finalized offers if user is not owner
  frontend/src/components/finalizedOffer/FinalizedOffer.tsx
  frontend/src/hooks/useFetchFinalizedOffers.tsx
  frontend/src/pages/finalizedOffers/FinalizedOffers.tsx
Due: build_frontend, deploy_frontend

Add group number and class type name to offer
  frontend/src/components/offer/MyOffer.tsx
  frontend/src/components/offer/Offer.tsx
Due: build_frontend, deploy_frontend

fixed jwt key problem
  backend/src/main/java/com/example/usos_oauth/security/service/JwtService.java
Due: build_backend, deploy_backend

fixed db
  backend/src/main/java/com/example/usos_oauth/offers/controller/OfferController.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dao/Course.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dao/CourseId.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dao/Offer.java
  backend/src/main/java/com/example/usos_oauth/offers/model/dto/CreateOfferRequest.java
  backend/src/main/java/com/example/usos_oauth/offers/service/OfferService.java
  backend/src/main/java/com/example/usos_oauth/offers/service/utils/OfferDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/security/service/JwtService.java
  backend/src/main/java/com/example/usos_oauth/usos/model/dto/CourseDTO.java
  backend/src/main/java/com/example/usos_oauth/usos/service/usos/UsosService.java
  backend/src/main/java/com/example/usos_oauth/usos/service/usos/utils/UsosDTOMapper.java
  backend/src/test/java/com/example/usos_oauth/offers/service/OfferServiceTest.java
  backend/src/test/java/com/example/usos_oauth/security/service/JwtServiceTest.java
Due: build_backend, deploy_backend

backend: added tests to offer service
  backend/src/main/java/com/example/usos_oauth/offers/model/dto/CreateOfferRequest.java
  backend/src/test/java/com/example/usos_oauth/offers/service/OfferServiceTest.java
Due: build_backend, deploy_backend

fixed courseDTO naming
  backend/src/main/java/com/example/usos_oauth/offers/service/OfferService.java
  backend/src/main/java/com/example/usos_oauth/offers/service/utils/OfferDTOMapper.java
  backend/src/main/java/com/example/usos_oauth/usos/model/dto/CourseDTO.java
  backend/src/main/java/com/example/usos_oauth/usos/service/usos/UsosService.java
  backend/src/main/java/com/example/usos_oauth/usos/service/usos/utils/UsosDTOMapper.java
Due: build_backend, deploy_backend

frontend/avatarFixAndTranslations
  frontend/src/components/navBar/NavBar.tsx
  frontend/src/pages/finalizedOffers/FinalizedOffers.tsx
  frontend/src/pages/login/Login.tsx
  frontend/src/pages/modifyUser/ModifyUser.tsx
  frontend/src/pages/myOffers/AddOffer.tsx
Due: build_frontend, deploy_frontend

another naming fix
  backend/src/test/java/com/example/usos_oauth/offers/service/OfferServiceTest.java
Due: build_backend, deploy_backend

Better offers groups display
  frontend/src/components/offer/MyOffer.tsx
  frontend/src/components/offer/Offer.tsx
  frontend/src/components/offer/style.scss
Due: build_frontend, deploy_frontend

SubPage for fitting offers
  frontend/src/apiFunctions/getOffers.ts
  frontend/src/components/offer/OffersList.tsx
  frontend/src/config/routes.tsx
  frontend/src/pages/offers/FittingOffers.tsx
  frontend/src/pages/offers/style.scss
Due: build_frontend, deploy_frontend

UserDataChangingFix
  frontend/src/pages/modifyUser/ModifyUser.tsx
Due: build_frontend, deploy_frontend

FixOfferAccept
  frontend/src/components/offer/Offer.tsx
Due: build_frontend, deploy_frontend

Reset filters values after reset
  frontend/src/components/searchTable/SearchTable.tsx
Due: build_frontend, deploy_frontend

Upload New File
  PAP2023_etap_3.pdf
Due: none

Fix filtered offers
  frontend/src/pages/offers/FittingOffers.tsx
Due: build_frontend, deploy_frontend

Add 2 easter eggs to app
  frontend/src/App.tsx
  frontend/src/apiFunctions/acceptOffer.ts
  frontend/src/apiFunctions/changeUserData.ts
  frontend/src/apiFunctions/checkIfConnectedToUsos.ts
  frontend/src/apiFunctions/connectUsos.ts
  frontend/src/common/authorized/Authorized.tsx
  frontend/src/common/image/Image.tsx
  frontend/src/common/withPrivateRoute/WithPrivateRoute.tsx
  frontend/src/components/pwBar/PwBar.tsx
  frontend/src/components/topBar/TopBar.tsx
  frontend/src/hooks/useCurrentUser.tsx
  frontend/src/hooks/useFetchFinalizedOffers.tsx
  frontend/src/providers/AuthProvider.tsx
  frontend/src/providers/RoutesProvider.tsx
Due: build_frontend, deploy_frontend

Update README.md
  README.md
Due: none
