Repository ZZZdreamm/Tradeiti: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, deploy_frontend, deploy_backend

build_frontend:
  stage: build
  script:
  - cd frontend
  - docker build -t $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
  - docker push $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA

build_backend:
  stage: build
  script:
  - cd backend
  - docker build -t $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA .
  - docker push $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA

deploy_frontend:
  stage: deploy
  script:
  - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$FRONTEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
  ...

deploy_backend:
  stage: deploy
  script:
  - ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "docker pull $DOCKER_HUB_USERNAME/$BACKEND_IMAGE_NAME:$CI_COMMIT_SHORT_SHA"
  ...

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Backend: Added term logic to select user all courses Backend: Ignored user_groups in json return object to front to clean up the response
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/logic/Term.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/model/CourseEdition.java
Due: build_backend, deploy_backend

Added working getCourseEditions method in UsosTemplate
  backend/src/main/java/com/example/usos_oauth/controller/CourseEditionsController.java
  backend/src/main/java/com/example/usos_oauth/usos/api/Usos.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/CourseEdition.java
  backend/src/main/java/com/example/usos_oauth/usos/api/impl/UsosTemplate.java
Due: build_backend, deploy_backend

Added documentation related to stage 1 of the project
  PAP2023Z-Z08_etap_1.pdf
Due: none

Added icon
  frontend/index.html
  frontend/public/appWebIcon.svg
Due: build_frontend, deploy_frontend

Add env files
  backend/pom.xml
  backend/src/main/resources/application.yml
  backend/src/main/resources/config-dev.yml
  backend/src/main/resources/config-prod.yml
Due: build_backend, deploy_backend

Add AppConfig
  backend/src/main/java/com/example/usos_oauth/config/AppConfig.java
Due: build_backend, deploy_backend

Inject AppConfig into TestController
  backend/src/main/java/com/example/usos_oauth/config/AppConfig.java
  backend/src/main/java/com/example/usos_oauth/controller/TestController.java
Due: build_backend, deploy_backend

Current courses update
  frontend/src/components/course/Course.scss
  frontend/src/components/course/Course.tsx
  frontend/src/index.scss
  frontend/src/mocks/MockedCourses.ts
  frontend/src/mocks/MockedNews.ts
  frontend/src/models/Course.ts
  frontend/src/pages/courses/Courses.tsx
  frontend/src/pages/courses/style.scss
Due: build_frontend, deploy_frontend

helpPage addition
  frontend/src/components/navBar/NavBar.tsx
  frontend/src/components/topBar/TopBar.tsx
  frontend/src/config/routes.tsx
  frontend/src/pages/helpPage/HelpPage.tsx
Due: build_frontend, deploy_frontend

Add OffersList display
  frontend/src/components/offer/Offer.tsx
  frontend/src/components/offer/OffersList.tsx
  frontend/src/models/Offer.ts
  frontend/src/pages/offers/Offers.tsx
Due: build_frontend, deploy_frontend

Add new colors and main styling
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/index.scss
Due: build_frontend, deploy_frontend

Add container for list of elements and mocked offers
  frontend/src/apiFunctions/acceptOffer.ts
  frontend/src/apiFunctions/getCurrentUser.ts
  frontend/src/components/elementsContainer/ElementsContainer.tsx
  frontend/src/components/elementsContainer/style.scss
  frontend/src/components/footer/style.scss
  frontend/src/components/offer/style.scss
  frontend/src/mocks/MockedOffers.ts
Due: build_frontend, deploy_frontend

Add global Button component
  frontend/src/common/button/Button.tsx
  frontend/src/common/button/style.scss
Due: build_frontend, deploy_frontend

Add SearchTable
  frontend/src/components/elementsContainer/style.scss
  frontend/src/components/offer/Offer.tsx
  frontend/src/components/searchTable/SearchTable.tsx
  frontend/src/components/searchTable/style.scss
  frontend/src/index.scss
  frontend/src/pages/offers/Offers.tsx
  frontend/src/pages/offers/style.scss
Due: build_frontend, deploy_frontend

Add react-hook-forms and react-query
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/navBar/NavBar.tsx
  frontend/src/components/searchTable/SearchTable.tsx
  frontend/src/components/searchTable/style.scss
  frontend/src/mocks/MockedOffers.ts
  frontend/src/pages/offers/Offers.tsx
  frontend/src/providers/Providers.tsx
Due: build_frontend, deploy_frontend

Add searching work
  frontend/src/apiFunctions/getOffers.ts
  frontend/src/apiFunctions/searchOffers.ts
  frontend/src/components/offer/OffersList.tsx
  frontend/src/models/SearchOfferOptions.ts
  frontend/src/pages/offers/Offers.tsx
Due: build_frontend, deploy_frontend

frontend/myOffers
  frontend/src/apiFunctions/discardOffer.ts
  frontend/src/components/offer/MyOffer.tsx
  frontend/src/components/offer/MyOffersList.tsx
  frontend/src/components/offer/style.scss
  frontend/src/index.scss
  frontend/src/mocks/MockedMyOffers.ts
  frontend/src/pages/myOffers/MyOffers.scss
  frontend/src/pages/myOffers/MyOffers.tsx
Due: build_frontend, deploy_frontend

frontend/remove unused variables
  frontend/.eslintrc.cjs
  frontend/src/apiFunctions/acceptOffer.ts
  frontend/src/apiFunctions/discardOffer.ts
  frontend/src/apiFunctions/getOffers.ts
  frontend/src/components/offer/MyOffer.tsx
  frontend/src/components/offer/Offer.tsx
Due: build_frontend, deploy_frontend

fix to url
  backend/src/main/java/com/example/usos_oauth/controller/LoginUsosController.java
Due: build_backend, deploy_backend

Add login and register api functions
  frontend/src/apiFunctions/getCurrentUser.ts
  frontend/src/apiFunctions/getRequestToken.ts
  frontend/src/apiFunctions/login.ts
  frontend/src/apiFunctions/register.ts
Due: build_frontend, deploy_frontend

Include jwtToken in axios requests
  frontend/src/config/axiosConfig.ts
Due: build_frontend, deploy_frontend

Add saving and getting jwtToken from local storage
  frontend/src/auth/JwtToken.ts
Due: build_frontend, deploy_frontend

Add register and usos connect routes
  frontend/src/config/routes.tsx
Due: build_frontend, deploy_frontend

Add Login and Register pages
  frontend/src/models/UserCredentials.ts
  frontend/src/pages/register/Register.tsx
Due: build_frontend, deploy_frontend

Add basic Auth Form
  frontend/src/components/authForm/AuthForm.tsx
  frontend/src/components/authForm/style.scss
Due: build_frontend, deploy_frontend

Add basic Usos Connect page
  frontend/src/pages/register/style.scss
  frontend/src/pages/usosConnect/UsosConnect.tsx
Due: build_frontend, deploy_frontend

Add Cors Configuration
  backend/src/main/java/com/example/usos_oauth/security/config/SecurityConfiguration.java
Due: build_backend, deploy_backend

Change check defining if token exists
  backend/src/main/java/com/example/usos_oauth/security/config/JwtAuthenticationFilter.java
Due: build_backend, deploy_backend

Add spring database configuration in application.yml
  backend/src/main/resources/application.yml
Due: build_backend, deploy_backend

Add JwtToken check to private routes security
  frontend/src/auth/JwtToken.ts
  frontend/src/common/authorized/Authorized.tsx
  frontend/src/common/withPrivateRoute/WithPrivateRoute.tsx
  frontend/src/config/constants.ts
  frontend/src/hooks/useCurrentUser.tsx
Due: build_frontend, deploy_frontend

Add global authorization header to axiosBase
  frontend/src/config/axiosConfig.ts
  frontend/src/providers/AuthProvider.tsx
Due: build_frontend, deploy_frontend

Change getCurrentUser fn
  frontend/src/apiFunctions/getCurrentUser.ts
Due: build_frontend, deploy_frontend

Add working connection to Usos
  frontend/src/apiFunctions/connectUsos.ts
  frontend/src/apiFunctions/getRequestToken.ts
  frontend/src/apiFunctions/register.ts
  frontend/src/pages/usosConnect/UsosConnect.tsx
Due: build_frontend, deploy_frontend

Remove default authorization header include
  frontend/src/config/axiosConfig.ts
Due: build_frontend, deploy_frontend

docker compose should work locally, possible fix to db
  .gitlab-ci.yml
  backend/src/main/java/com/example/usos_oauth/controller/LoginUsosController.java
  backend/src/main/resources/application.yml
  docker-compose.yml
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
Due: build_frontend, build_backend, deploy_frontend, deploy_backend

fix to showing errors, maybe cors
  backend/src/main/java/com/example/usos_oauth/security/config/SecurityConfiguration.java
Due: build_backend, deploy_backend

Backend: added exception when trying to register using existing login
  backend/src/main/java/com/example/usos_oauth/security/auth/service/AuthenticationService.java
  backend/src/main/java/com/example/usos_oauth/security/auth/service/UserAlreadyExistsException.java
Due: build_backend, deploy_backend

Backend: endpoint to test jwt token, some small improvements
  backend/src/main/java/com/example/usos_oauth/security/auth/controller/AuthenticationController.java
  backend/src/main/java/com/example/usos_oauth/security/config/ApplicationConfig.java
  backend/src/main/java/com/example/usos_oauth/security/config/JwtAuthenticationFilter.java
  backend/src/main/java/com/example/usos_oauth/security/service/UserService.java
Due: build_backend, deploy_backend

Path conditions:
  build_frontend: any of: frontend/**/*
  build_backend: any of: backend/**/*
  deploy_frontend: any of: frontend/**/*
  deploy_backend: any of: backend/**/*
